.layout {
    position: fixed;
    z-index: 100;
    left: 0;
    bottom: 0;

    width: 100%;
    box-sizing: border-box;

    background: linear-gradient(rgba(249, 248, 248, 0.5), rgba(249, 248, 248, 1));
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    padding: 15px 20px;

    box-sizing: border-box;
}