.titleBlock {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.title,
.subtitle {
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.2em;
    text-transform: uppercase;

    cursor: pointer;
}

.subtitle {
    color: #666;
}