.layout,
.inputBlock {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.inputBlock > input {
    width: 100px;
    height: 30px;
    margin-right: 10px;
    padding-left: 50px;

    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0.1em;

    background-color: #fff;
    background-image: url('../../../resource/icons/ico-text-input.svg');
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 16px;

    border: 1px solid #cdd3ce;
    border-radius: 12px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}

.inputBlock > span {
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0.1em;
}

.buttons {
    margin-left: 20px;
}

.buttons > button {
    width: 24px;
    height: 24px;
    margin-right: 10px;

    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px;

    border: 1px solid #cdd3ce;
    border-radius: 50%;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);

    transition: all 0.1 linear;
    cursor: pointer;
}

.buttons > button:last-child {
    margin: 0;
}

.buttons > button:hover {
    background-color: #eee;
}

.btnPlus {
    background-image: url('../../../resource/icons/ico-plus-button.svg');
}

.btnMinus {
    background-image: url('../../../resource/icons/ico-minus-button.svg');
}